

@font-face {
  font-family: 'Garet';
  src: url("{{ url_for('static', filename='fonts/Garet-Book.ttf') }}") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garet';
  src: url("{{ url_for('static', filename='fonts/Garet-Heavy.ttf') }}") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* Style for the body */
body {
  background-color: #fdf9ee;
  font-family: "Garet-Book", sans-serif;
  font-weight: 400;
  min-height: 5000px;
  color:white;
  padding-top: 60px;
}

/* Style for the header */
.header {
  background-color: #fdf9ee;
  position: fixed;
  width: 100%;
  top: 0;
}
.header_content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.logo {
  display: inline-flex;
  align-items: center;
}
.logo_img,
.logo_image {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  flex-shrink: 0;
  margin-right:450px;
}

.nav_list{
display: flex;
column-gap: 45px;
}

.nav_link {
  color: rgba(0, 0, 0, 0.75);
  font-size: 15px;
  transition: all .4s;
  position: relative;
  font-family: "Garet",sans-serif;
  font-weight:700;
}
.nav_link:hover, .nav_link:focus{
    color: rgb(206, 200, 119)
    
}
.nav_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(189, 156, 24);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
}
.nav_link:hover::after{
opacity: 1;    
}
.btn{
    color : #ffffff;
    background-color: #e6c18a;
    padding: 20px 65px;
    border-radius: 1000px;
    font-size:24px;
    font-weight: 700;
    transition: all .2s;
    margin-left: 325px;
    margin-bottom: 355px;
    font-family: "Inter", sans-serif;
    display:block;
    
}
.bth:hover{
    color:black;
    background-color: #e6c18a;
}
/* media queries*/
@media (max-width: 650px){
    .header_content{
        flex-direction : column;
        padding: 25px 0;
        row-gap: 18px;
    }
    .nav_list{
        column-gap: 20px;
    }
}
.heading h1{
    text-align: left;
    justify-content: center;
    margin-left: 600px;
    margin-bottom: 450px;
    font-size: 85px;
    font-family: "Garet", sans-serif;
    line-height: 1.5em;
    font-weight: 400;

}
span{
    font-family: "Garet",sans-serif !important;
    font-weight:700 !important;
    letter-spacing: 1px;
}
.sub{
    top: 0;

}
.subheading{

    top:0;
    margin-bottom: 15500px;
    color: #9f7c50;
    text-align: left;
    font-size: 45px;
    font-family: "Garet", sans-serif;
    font-weight: 700;
    margin-right: 950px;
    margin-top:-150px;

}
.subheading p{
    font-size:25px;
    padding: 10px;
    margin-top: 20px;
    color: #595045;
    text-align: left;
}
.box{
    border: #9f7c50;
    width: 510px !important;
    height: 270px !important;
    border: 4px solid #9f7c50;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 99999;
    position: relative !important;
    margin-left: -950px;
    display:flex;
    margin-top: -350px;
    justify-content: center !important;
    align-items: center !important;
    color:#9f7c50 !important;
    font-family: "Garet",sans-serif;
    font-size:25px;
    font-style: italic;
}
.sub img{
    width: 850px;
    margin-right: -1050px;
    padding:10px;
    height: auto;
    border-radius: 20px;
}
