<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <title>c.dev</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    </style>
  </head>
  <body>
    <section class="navigation">
      <header class="header">
        <div class="header_content">
          
          <nav class="nav">
            <ul class="nav_list">
              <li class="nav_item">
                <a href="{{ url_for('home') }}" target="_blank" class="nav_link">home</a>
              </li>
              <li class="nav_item">
                <a href="{{ url_for('pricing') }}" target="_blank" class="nav_link">pricing</a>
              </li>
              <li class="nav_item">
                <a href="{{ url_for('orders') }}" target="_blank" class="nav_link">orders</a>
              </li>
              <li class="nav_item">
                <a href="{{ url_for('about') }}" target="_blank" class="nav_link">about</a>
              </li>
            </ul>
          </nav>
          <a href="index.html" class="logo">
            <img class="logo_img" src="{{ url_for('static', filename='images/nav_logo.svg') }}" alt="Company Logo" style="width: 210px; margin-top: .15em;"/>
          </a>
        </div>
      </header>
      <div class="grid-container">
        <div class="item">
          <div class="btn" href="#">
            <a href="#">order today</a>
          </div>
        </div>
        <div class="item"><em>real</em><br> <strong>programming for </strong><br> <em> your </em> needs.</div>
        <div class="item"></div>
        <div class="item"style="font-size: 10px; margin-bottom: 9rem;margin-right:32vw; color: gray;">accepting orders through 07/23</div>
        <div class="item-type-2"style="margin-left:50px;">all your services - one place</div>
        <div class="item-type-4"style="margin-bottom: 9rem; padding-left: 15rem; ">
          <img src="{{ url_for('static', filename='images/DOCKER3DRENDER.png') }}" style="height: 355px; margin-bottom: 9rem;">
        </div>
        <div class="item-type-3" style="margin-bottom: 12rem; margin-left:50px; padding-left: 2rem;">whatever you need, we'll make it. <br>From SaaS to Game Development to even CGI, our team can make it happen for you. <br>Powered by High School Sophmores.</div>
      </div>
       <div class="grid-container-2">
  <!-- Card 1 -->
  <div class="item-type-5">
    <div class="card-container">
      <div class="card">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" style="width: 150px;
  height: 150px;
  object-fit: cover;">
        <div class="card-content" style="font-size: 24px;">
          <h3 style="font-weight: 700;">Quick Orders (<2 weeks)</h3>
          <p><strong style="color: #72959a;">$90+</strong><br>
           <span style="color: #fb5b6a; font-weight: bold; ">New!</span>

          </p>
          <a href="{{ url_for('orders') }}" class="btn">ORDER</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="item-type-5">
    <div class="card-container">
      <div class="card">
         <img src="{{ url_for('static', filename='images/logo.svg') }}" style="width: 150px;
  height: 150px;
  object-fit: cover;">
        <div class="card-content" style="font-size: 24px;">
          <h3 style="font-weight: 700;">SaaS</h3>
          <p><strong style="color: #72959a;">Starting at $5/month</strong><br>
            <span style="color: #fb5b6a; font-weight: bold; ">New!</span>
          </p>
          <a href="{{ url_for('orders') }}" class="btn">ORDER</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="item-type-5">
    <div class="card-container">
      <div class="card">
 <img src="{{ url_for('static', filename='images/logo.svg') }}" style="width: 150px;
  height: 150px;
  object-fit: cover;">        <div class="card-content" style="font-size: 24px;">
          <h3 style="font-weight: 700;">Mobile Apps</h3>
          <p><strong style="color: #72959a;">$20 - $70+</strong><br>
          <span style="color: #fb5b6a; font-weight: bold; ">SALE! 50% OFF! $10-$35!</span>

          </p>
          <a href="{{ url_for('orders') }}" class="btn">ORDER</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="item-type-5">
    <div class="card-container">
      <div class="card">
 <img src="{{ url_for('static', filename='images/logo.svg') }}" style="width: 150px;
  height: 150px;
  object-fit: cover;">        <div class="card-content" style="font-size: 24px;">
          <h3 style="font-weight: 700;">Web Apps</h3>
          <p><strong style="color: #72959a;">$20+</strong><br>
            <span style="color: #fb5b6a; font-weight: bold; ">New!</span>
          </p>
          <a href="{{ url_for('orders') }}" class="btn">ORDER</a>
        </div>
      </div>
    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
