<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}" />
    <title>c.dev</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  </style>
  <body>
    <section class="navigation">
      <header class="header">
        <div class="header_content">
          
          <nav class="nav">
            <ul class="nav_list">
              <li class="nav_item">
                <a href="{{ url_for('home') }}" target="_blank" class="nav_link">home</a>
              </li>
              <li class="nav_item">
                <a href="{{ url_for('pricing') }}" target="_blank" class="nav_link">pricing</a>
              </li>
              <li class="nav_item">
                <a href="{{ url_for('orders') }}" target="_blank" class="nav_link">orders</a>
              </li>
              <li class="nav_item">
                <a href="{{ url_for('about') }}" target="_blank" class="nav_link">about</a>
              </li>
            </ul>
          </nav>
          <a href="" class="logo">
            <img class="logo_img" src="{{ url_for('static',filename='images/logo.svg')}}" alt="Company Logo" />
          </a>
        </div>
      </header>
      
    </section>
    <section class="hero" style="min-height:100vh; display:flex; align-items:center; justify-content:center; background:#f7f7f8; padding-top:80px;">
        <a class="btn" href="#">order now</a>
        <div class="heading" style="text-align:center; color:#0f172a;">
          <h1><em>real</em> <br>
           <span class="heading-bolded">programming for</span><br>
           <em>your</em> needs.
        </h1>
        
      </div>
    </section>
    <section class="sub" style="padding: 5px; min-height: 40vh; display: flex; flex-direction: column; align-items: center; justify-content: center; background: #f7f7f8; padding-top: 80px; box-sizing: border-box;">
  
  <div class="subheading" style="text-align: center; color: #0f172a; margin-bottom: 20px;">
    <h1 style="color: #9f7c50;">all your services - one<br>place</h1>
    <p>whatever you need, we'll make it. from SaaS to game development<br>to even CGI, our team can make it happen for you. made by high school<br>sophomores.</p>
  </div>
  <img src="{{ url_for('static',filename='images/DOCKER3DRENDER.svg')}}">
  <!-- Your visible transparent box -->
  <div class="box" style="width: 250px; height: 150px; background: transparent; border: 3px solid #9f7c50; border-radius: 8px; box-sizing: border-box; color: black;"> More flies are caught with a drop<br>of honey than with a whole barrel<br>of vinegar - St. Francis De Sales</div>

</section>
        
  </body>
</html>
